.clients__inner{
    margin-top: 120px;
}
.clients__info h2{
    display: flex;
    justify-content: center;
}
.clients__info p{
    display: flex;
    justify-content: center;
    width: 530px;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    text-align: center;
}

.clients__info1{
    display: flex;
    margin-top: 50px;
}
.clients__start{
    padding-left: 25px;
}
.clients__start{
    width: 320px;
    height: 235px;
    border: 1px solid rgba(0, 0, 0, 0.184);
    border-radius: 5px;
}
.clients__start p{
    width: 270px;
    padding-top: 15px;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.356);
}
.clients__start img{
    padding-top: 20px;
}
.clients__img{
    padding-top: 12px;
}






.clients__middle{
    padding-left: 25px;
    margin-left: 80px;
}
.clients__middle{
    width: 320px;
    height: 235px;
    border: 1px solid rgba(0, 0, 0, 0.295);
    border-radius: 5px;
}
.clients__middle p{
    width: 270px;
    padding-top: 15px;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.356);
}
.clients__middle img{
    padding-top: 20px;
}
.clients__img{
    padding-top: 12px;
}



.clients__finish{
    padding-left: 25px;
    margin-left: 80px;
}
.clients__finish{
    width: 320px;
    height: 235px;
    border: 1px solid rgba(0, 0, 0, 0.295);
    border-radius: 5px;
}
.clients__finish p{
    width: 270px;
    padding-top: 15px;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.356);
}
.clients__finish img{
    padding-top: 20px;
}
.clients__img{
    padding-top: 12px;
}