.folder__inner{
    display: flex;
    align-items: center;
    margin-top: 130px;
}
.folder__info{
    h6{
        margin-top: 30px;
        font-size: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
    }
    h3{
        margin-top: 8px;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 48px;
    }
    p{
        margin-top: 18px;
        width: 486px;
        height: 78px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
    }
    h5{
        margin-top: 1px;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
    }
}

.folder__banner{
    margin-left: 120px;
}